html,
body,
.wrapper {
  width: 100%;
  height: 100%;
}

.wrapper {
  font-family: $main-font;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 120%;

  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: $container-width;
  padding: 0 24px;
  margin: 0 auto;
}

.main {
  flex: 1 1 auto;
}

.section {
  &-title {
    position: relative;
    font-weight: 500;
    font-size: 32px;
    line-height: 134%;
    color: #1f2e35;
    padding-bottom: 10px;


    &::before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      background-image: url('../../../images/title-wave.svg');
      background-repeat: no-repeat;
      width: 90px;
      height: 10px;
    }
  }
}
